doctype html
html(lang="zh-Hans")
    head
        title="SJ-SEED"
        link( rel='stylesheet', href='css/global.css' )

    body
        dt Welcomes to sj-seed
        dd The Stylus, Jade & Grunt seed.
